* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comp {
  height: 92vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060b26;
}
